<div class='business-card'>
  <div class='header'>
    <h1 class='promotion-name'><%= code.promotion.name %></h1>
  </div>
  <div class='content'>
    <p class='promotion-code'>Your code is <%= code.token %></p>
    <p class='promotion-redeem'>Redeem at <%= "www.promos.io/#{code.token}" %></p>
  </div>
</div>
